/* Basic skin.css file                                                         */
/* =========================================================================== */

/*                                                                             */
/* ----------------------------------------------------------------------------*/

#root{
  padding: 50px;
  background-color: #EEE;
}
#root h1{
  font-size: 114px;
  font-family:sans-serif;
}